<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/glancecam/calltoaction-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>See GlanceCam in action, even if you don't own an IP camera:<br>this Press version with sample videos makes testing fast</h3>
                    <div class="call-to-action">
                        <a href="https://www.dropbox.com/s/13z30gj26a10ktr/glancecam3-press-version.zip?dl=1" class="btn">download app</a>&nbsp;&nbsp;
						<a href="https://vimeo.com/517800053" class="btn video-view">watch video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>