<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/glancecam/calltoaction-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>See GlanceCam in action, even if you don't own an IP camera:<br>the Press version embeds videos that make testing a breeze.</h3>
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=RM5hQ3Qtf-8" class="btn video-view">download test version</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://www.youtube.com/watch?v=RM5hQ3Qtf-8" class="btn video-view">watch app store video</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://www.youtube.com/watch?v=RM5hQ3Qtf-8" class="btn video-view">download press assets</a>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
</section>