<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/glancecam/calltoaction2-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>If you've read this far (thank you!),<br>it's really time to TRY GLANCECAM!</h3>
                    <div class="call-to-action">
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<p style="text-align:center">
		<a href="https://itunes.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896?l=it&ls=1&mt=12" class="image" target="new">
			<img src="{{site.url}}/glancecam/assets/img/download_mac_app_store_white_bg.svg" alt="Download on the Mac App Store" data-position="center center" />
		</a>
	</p>
</section>