<header>
    <div id="sticky-header" class="menu-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="logo">
                        <a href="https://glancecam.app"><img src="https://glancecam.app/assets/img/logo/logo.png" class="img-fluid" alt=""></a><b> GlanceCam</b>
                    </div>
                </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                    <div class="logo">
                        <a href="https://itunes.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896?l=it&ls=1&mt=12"><img src="{{site.baseurl}}/assets/img/download_mac_app_store_black_bg.svg" class="img-fluid" alt="Download on the Mac App Store"></a>
                    </div>
            </div>
            <div class="offcanvas-overly"></div>
        </div>
    </div>
</header>
