<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Prodotti recenti</h2>
                    <p>Alcuni esempi recenti della nostra produzione, che potrà essere completamente adattata alle Vostre esigenze elettriche, costruttive e e dimensionali.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="portfolio-menu mb-55">
                    <button class="active" data-filter="*">all</button>
                    <button class="p-item" data-filter=".cat-one">Grandi trasformatori</button>
                    <button class="p-item" data-filter=".cat-two">Trasformatori di taglia media</button>
                    <button class="p-item" data-filter=".cat-three">Piccoli trasformatori</button>
                    <button class="p-item" data-filter=".cat-four">Costruzioni speciali</button>
                </div>
            </div>
        </div>
        <div class="row portfolio-active">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Trasformatore di Potenza</a></h5>
                        <span>1.500 KVA</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Trasformatore per sistema raddrizzatore</a></h5>
                        <span>8.000A / 34V</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Trasformatore per alimentazione macchine utensili</a></h5>
                        <span>Trifase 35 KVA</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Trasformatori per alimentazione apparecchiature elettromedicali</a></h5>
                        <span>Costruito secondo le norme IEC 61558-2-4</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Elettromagnete per basi vibranti</a></h5>
                        <span>Con relativo contrasto</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Variatore a spazzole motorizzate</a></h5>
                        <span>100 KVA monofase</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>