<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
             <div class="col-xl-6 col-lg-6 mb-20">
				                
               <div class="section-title">
                   <h2>Requirements</h2>
               </div>
               <div class="about-content">
                   <p>
					• An Apple silicon / Intel Mac running Ventura or a previous version of macOS (10.14 Mojave or newer).<br><br>
					• One or more IP cameras capable of broadcasting their stream via RTSP, HTTP(s) or RTMP (RTSPs not supported); you'll need to know the camera IP address, your personal credentials (username and password) and the string format required by the manufacturer (including the string protocol and port). There's (<a href="https://cdf1982.com/glancecam/faqs#setup">extensive documentation about the setup process</a>, and you can always <a href="https://cdf1982.com/glancecam/faqs#support">count on my help</a> if you need assistance.<br><br>
					• Any Mac running the supported operating systems should have plenty of power to stream IP cameras with GlanceCam, but multiple streams, high resolutions or lots of cameras open at the same time will require faster computers.<br><br>
					• A solid connection between your computer and the cameras, be it LAN or WiFi, is recommended both for performances and stability, especially if you want many cameras to stream at the same time.<br><br>
					• For triggering actions by pressing the <a href="https://cdf1982.com/glancecam/faqs#actions">customizable buttons</a>, you'll need devices or appliances that can react to HTTP GET requests.<br><br>
					• To stream over the Internet, you'll need a static public IP address or a dynamic DNS service and to configure port forwarding for each camera and, optionally, action button; I recommend to start testing the video stream in LAN to check the compatibility before digging into remote connections; learn more <a href="https://cdf1982.com/glancecam/faqs#remote">here</a>.<br><br><br>
                   </p>
               </div>    
            </div>
			
            <div class="col-xl-6 col-lg-6 mb-20">
		
                <div class="section-title">
                    <h2>Links</h2>
                </div>
                <div class="about-content">
                    <p>
 					<b><a href="https://apps.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896">Download GlanceCam on the Mac App Store</a></b><br><br>
 					<a href="https://cdf1982.com/glancecam/faqs">Frequently Asked Questions</a><br><br>
 					<a href="https://cdf1982.com/glancecam/glancecam-release-notes">Release Notes</a><br><br>
 					<a href="https://cdf1982.com/tag/glancecam">GlanceCam Blog</a><br><br><br>
 					<a href="https://cdf1982.com/glancecam-mediakit">Member of the Press 😍? Here's the Media Kit</a><br><br><br><br>
                    </p>
                </div>
				
                <div class="section-title">
                    <h2>Contact informations</h2>
                </div>
				<div class="about-content">
					<p>
					You can contact me, Cesare, via email at <a href="mailto:support@cdf1982.com">support@cdf1982.com</a> or on Mastodon <a href="https://iosdev.space/@cdf1982">@cdf1982@iosdev.space</a>.<br>And of course Milla has her own <a href="https://www.instagram.com/millakillapilla/">Instagram page</a> where you'll be able to see how cute and smart she is.<br><br>You can also check my other macOS and iOS apps, and my blog, at <a href="https://cdf1982.com">cdf1982.com</a>.<br><br>Please know that I read and respond to all emails (as quickly as I can, it's just me here doing coding and support) and I'd genuinely love to hear from you!</b>
					</p>
           	 	</div>
            </div>
        </div>
    </div>
</section>