<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">GLANCECAM 3<br>March 2021 <span>Media Kit</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">The biggest update yet to a beloved IP camera viewer for Mac is coming soon. Here's what you need to know to decide if you want to write about it.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;&nbsp;Download test version for the press&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">Download Press assets & informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
							<h1 data-animation="fadeInUp" data-delay=".2s">GLANCECAM 3<br>with <span>multi-windows</span></h1>
							                            <p data-animation="fadeInLeft" data-delay=".4s">IP cameras are inexpensive and more people buy them every day. GlanceCam makes the experience of streaming one, or 30, cameras so much nicer.</p>
                        <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;&nbsp;Download test version for the press&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">Download Press assets & informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
							<h1 data-animation="fadeInUp" data-delay=".2s">The native solution<br> to stream <span>IP cameras</span></h1>
							                            <p data-animation="fadeInLeft" data-delay=".4s">GlanceCam supports most IP cameras, because it works with RTSP, HTTP(s) and RTMP, and makes bad web apps a nightmare from the past.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;&nbsp;Download test version for the press&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">Download Press assets & informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>