<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">GLANCECAM 3<br>View all your<span> IP cameras</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">The biggest update yet to the beloved IP camera viewer for Mac just arrived with lots of new and advanced features!</p>
							<div class="col-xl-12 text-center">
							<div class="call-to-action white-text">
                            <a href="https://apps.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;Download&nbsp;</a>&nbsp;&nbsp;
							<a href="https://vimeo.com/517800053" class="btn video-view" data-animation="fadeInUp" data-delay=".6s">Watch video</a>
						</div>
                        </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
							<h1 data-animation="fadeInUp" data-delay=".2s">GLANCECAM PRO<br>with <span>multi-windows</span></h1>
							                            <p data-animation="fadeInLeft" data-delay=".4s">IP cameras are inexpensive and more people buy them every day. GlanceCam makes the experience of streaming one, or 50, so much nicer!</p>
							<div class="col-xl-12 text-center">
							<div class="call-to-action white-text">
                            <a href="https://apps.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;Download&nbsp;</a>&nbsp;&nbsp;
							<a href="https://vimeo.com/517800053" class="btn video-view" data-animation="fadeInUp" data-delay=".6s">Watch video</a>
						</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
							<h1 data-animation="fadeInUp" data-delay=".2s">"Finally, a cam<br>viewer that <span>works!"</span></h1>
							                            <p data-animation="fadeInLeft" data-delay=".4s">GlanceCam is compatible with most IP cameras, because it works with standard protocols such as RTSP, HTTP(s) and RTMP</p>
								<div class="col-xl-12 text-center">
								<div class="call-to-action white-text">
                            <a href="https://apps.apple.com/us/app/glancecam-ip-webcam-viewer/id1360797896" class="btn" data-animation="fadeInUp" data-delay=".6s">&nbsp;Download&nbsp;</a>&nbsp;&nbsp;
							<a href="https://vimeo.com/517800053" class="btn video-view" data-animation="fadeInUp" data-delay=".6s">Watch video</a>
							</div>
	                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>