<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
							“I have used/bought most of the IP clients for Mac out there
							and this is totally the best one.”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Finally, a cam viewer that works!”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Brilliant! Grabs the RTSP stream from my Armcrest cam, so no more stupid web interface.”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Great app with great support!”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Was looking for something which would show my Hikvision ip cameras on my Mac Mini M1. 5 minutes after downloading (and a little bit of fiddling to get the camera address correct) I have all 4 cameras set up and viewable on my desktop. Simple. Brilliant."
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “I use GlanceCam pretty much all day!”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “I have been using GlanceCam for a few weeks now. Performs well and the simple interface is wonderful. Cesare is very responsive to reasonable requests. The application works great with Duhua, Axis, and Elphel cameras.”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Configured my six cams with help of Cesare. The cameras I have are not well documented. He was able to find a solution in no time.”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            “Excellent software I couldn't live without. This one program is compatible with every camera I own.”
                        </div>
                        <span>⭐️⭐️⭐️⭐️⭐️ App Store review</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>