<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>What is GlanceCam</h2>
                </div>
                <div class="about-content">
                    <p>
						<b>GlanceCam is an IP camera viewer for Mac.</b><br><br>As a native client with support for <b>standard streaming protocols</b>, it allows to keep an eye on cameras from different brands in a secure way and without dealing with multiple clunky web apps or obsolete applications.<br><br>Launched in the Mac App Store in March 2018 and priced at $ 3.99, GlanceCam is a convenient solution that offers lots of optional customisations for the video stream.<br><br>The app is <b>unobtrusive and easy to use</b>, but has advanced capabilities such as <b>Insta-zoom</b> (hold down the mouse right button to temporarily zoom) and <b>Always on top</b> (float the camera window above any other); it supports <b>4K and audio streams</b>, includes lots of <b>automation-friendly</b> features (keyboard shortcuts, the ability to send HTTP GET commands to IoT devices, support for Apple Script and a custom URL scheme) and more nerdy things.<br><br>
<b>Over 20 free updates</b> in 3 years and <b>attentive Users' support</b> built a loving audience, as proved by <b>more than 200 ratings in the App Store averaging 4+ stars</b>.<br><br><b>Version 3.0 will launch in mid-March 2021</b>, after two years of development, with lots of new features and improvements, some of them included in a new <b>GlanceCam Pro</b> optional tier.<br><br>GlanceCam is made with love by me, Cesare, a self-taught Mac and iOS developer based in Italy, but Milla's contribution figuring out the hard stuff while taking long walks cannot be discounted 🐺🏃.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/glancecam/milla.jpg" class="img-fluid" alt=""><center><i>GlanceCam 3 new minimalistic UI, showing Milla resting her coder mind</i></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>