<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "GlanceCam",
        "applicationCategory": "UtilitiesApplication",
        "operatingSystem": "macOS",
        "description": "The most loved and fully-featured IP camera viewer for Mac",
        "offers": [
            {
                "@type": "Offer",
                "price": "3.99",
                "priceCurrency": "USD",
                "description": "Standard version"
            },
            {
                "@type": "Offer",
                "price": "9.99",
                "priceCurrency": "USD",
                "description": "GlanceCam Pro 1 year subscription"
            },
            {
                "@type": "Offer",
                "price": "22.99",
                "priceCurrency": "USD",
                "description": "Lifetime unlock for GlanceCam Pro"
            }
        ],
        "author": {
            "@type": "Person",
            "name": "Cesare Forelli"
        }
    }
    </script>
    <!-- Site Title -->
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
	<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/icofont.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/linearicons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/slick.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/meanmenu.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">
    {% feed_meta %}
</head>

<body>
    
    {{content}}

    {% include footer.html %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{site.baseurl}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/slick.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.waypoints.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.counterup.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.meanmenu.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/scrollup.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/simple-jekyll-search.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>